
@font-face {
    font-family: "Sakura";
    src: url(/Fonts/Garton.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Sakura";
    background-color: rgb(242, 252, 204);
}
.cards-img {
    margin:5vh;
}

.title_header {
    font-size: 5vh;
    text-align: center;
}
.footer {
    background-color: pink;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}
.footer-copy{
    font-size: 3vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}